#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
.Photo img {
    top: 80px;
}
button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}