h1, h2 {
    color: #03256c;
}
html {
    background-color: #caf0f8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 102%;
}
header {
    background-color: #e0b0d5;
    color: #03256c;
    text-align: center;
}
.heading {
    font-style: italic;
    font-weight: bold;
}
#profile {
    font-size: 105%;
}